$color-white:rgba(255,255,255,1);
$color-black:rgba(0,0,0,1);

/*Brand colors*/
$brand-primary:rgba(3, 136, 169, 1);
$brand-secondary:rgba(19, 186, 220, 1);
$brand-danger:rgba(212, 70, 70, 1);
$brand-warning:rgba(220, 161, 25, 1);
$brand-success:rgba(90, 195, 69, 1);
$brand-info:$brand-secondary;
$brand-default:rgba(221, 221, 221, 1);;
$box-shadow-color:rgba(221, 221, 221, 1);
$border-color:rgba(221, 221, 221, 1);
$text-color:#666;
$link-color:$brand-primary;
$link-hover-color:darken($link-color,15%);
$divider-with-icon-color:lighten($brand-primary, 70%);


/*Body*/
$body-bg: rgb(249, 249, 249);


/*Header*/
$header-bg-color: $brand-primary;
$header-button-header-bg:transparent;


/*Footer*/
$footer-bg-color: $color-white;
$footer-color-widget-bg:rgba(250, 250, 250, 1);
$footer-link-color:#333;


/*Dropdown boxes*/
$dropdown-box-bg:rgba(252,252,252,1);