#login {
    padding: 40px 0;
}

#login form br {
	display: none;
}

#login label {
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
}

#loginform > p, #registerform > p{
    margin:0 0 1rem 0 !important;
}

#loginform > p:last-child, #registerform > p:last-child{
    margin:0 !important;
}

#login > h1 { 
    display:none; 
}

#login > #backtoblog {
    display:none;
}

#login > #nav {
    display: none;
}

#login .forgetmenot {
    display: none;
}

#login #reg_passmail {
    display: none;
}

#login #login_error {
    background: $brand-primary;
    color: $color-white;
    padding: $spacing-3;
    margin-top: $spacing-0;
    border-radius: $border-radius;
    margin-bottom: $spacing-3;
    overflow: hidden;
}

#login .message {
    background: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px 25px;
    margin-top: 0px;
    border-radius: 0px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

p.obchodne_podmienky {
    text-align: center;
}

.obchodne_podmienky a {
    color: #00aeef;
    font-weight: 500;
}

.rc-anchor.rc-anchor-normal.rc-anchor-light {
    margin: 0 auto;
    margin-left: 2px;
}

#login input[type="password"], #login input[type="text"], #login input[type="email"] {
    transition-timing-function: linear;
}

#login input[type="submit"] {
    width: 100%;
}

#pass-strength-result.strong, #pass-strength-result.short, #pass-strength-result.bad, #pass-strength-result.good {
    width:100%;
}

#login form h2 {
    font-size: 22px;
    font-weight: 400;
    margin-top: -5px;
    margin-bottom: 1.5em;
    text-align: center;
    border-bottom: 1px solid #acacac;
    line-height: 45px;
}
.registracia {
    text-align: right;
}
.wp-social-login-widget {
    margin-top: -32px;
}
p#backtoblog {
    display: none;
}
.registracia a {
    color: #00aeef;
    font-weight: 500;
}
div#divider_login_outer {
    margin-top: -20px;
}

a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login-links{
    width:320px;
    margin:-2.5rem auto 0;
    display:none;
}

@media only screen and (max-width:479px) {
    #login {
        width: 90% !important;
    }
}